doctype
html
  head
    title #{title} - Meg Saxby
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container
      .main-content
        ul
          li
            a(href="/about") Who I am
          li
            a(href="/about") What I offer
          li
            a(href="/about") Current
        .logo
          h3 Educator, organizer, activist
          .main-title Meg Saxby
        button Find out more
      .contact
        .testimonials
          p Testimonial #1 (placeholder for roulette using data)
        .contact-info
          .title
            h1 Contact info 
            p Get in touch with Meg
          .details
            .contact-detail-name Address
              .contact-detail Address value

            .contact-detail-name Email
              .contact-detail Email value

            .contact-detail-name Phone
              .contact-detail Phone value