doctype
html
  head
    title #{title} - Meg Saxby
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lato:400,700')

  body
    .container
      .main-content
        ul.navbar
          li
            a(href="/about") Who I am
          li
            a(href="/about") What I offer
          li
            a(href="/about") Current
        
        .logo
          p Educator, organizer, activist
          .main-title
            h1 Meg Saxby
        
          .find-out-more-link
            a Find out more
      
      .contact
        .testimonials-container
          .testimonials
            p Testimonial #1 (placeholder for roulette using data)
        
        .contact-info-container
          .contact-info
            .title-container
              .title
                h1 Contact info 
                p Get in touch with Meg
            .details-container
              .details
                .contact-detail-name Address
                  .contact-detail Address value

                .contact-detail-name Email
                  .contact-detail Email value

                .contact-detail-name Phone
                  .contact-detail Phone value