doctype
html
  head
    title #{title} - Meg Saxby
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 Meg Saxby
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p Running on node with Express, Jade and Sass