<footer>
  <div class="contact">
    <div class="contact-info-container">
      <div class="contact-info">
        <div class="title-container">
          <h1>Contact </h1>
          <p>Get in touch with Meg</p>
        </div>
        <div class="details-container">
          <div class="contact-detail-name">ADDRESS
            <div>
              1589 Dupont St<br>
              Toronto, ON M6P 3S5<br>
              Canada<br>
            </div>
          </div>
          <div class="contact-detail-name">EMAIL
            <div>meg@megsaxby.com</div>
          </div>
          <div class="contact-detail-name">PHONE
            <div>+1.675.3457264</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
