<footer>
  <div class="contact">
    <div class="container helper-text">
      <h1>Contact </h1>
      <p>Get in touch with Meg</p>
    </div>
    <div class="container">
      <div class="detail">ADDRESS
        <div>
          <p>1589 Dupont St</p>
          <p>Toronto, ON M6P 3S5</p>
          <p>Canada</p>
        </div>
      </div>
      <div class="detail">EMAIL
        <div>meg@megsaxby.com</div>
      </div>
      <div class="detail">PHONE
        <div>+1.675.3457264</div>
      </div>
    </div>
  </div>
</footer>
