<header>
  <ul class="navbar">
    <li><a href=""><a href="/about">Current</a>
      <ul class="submenu">
        <li><a href="">Blog</li>
        <li><a href="">Schedule</li></a>
      </ul>
    </li>
    <li><a href="/about">What I offer</a>
      <ul class="submenu">
        <li><a href="">Educator</li></a>
        <li><a href="">Organiser</li></a>
        <li><a href="">Facilitator</li></a>
      </ul>
    </li>
    <li><a href=""><a href="/about">Who I am</a>
      <ul class="submenu">
        <li><a href="">Background</li></a>
        <li><a href="">Approach</li></a>
        <li><a href="">Lineage</li></a>
      </ul>
    </li>
  </ul>
</header>
