<header>
  <div class="logo"><a href="/">Meg Saxby</a></div>
  <nav>
    <ul class="navbar">
      <li><a href="/work">What I offer</a>
        <ul class="dropdown-menu">
          {% for work_section in site.work_sections %}
            <li><a href="/work/#{{work_section.title}}">{{ work_section.title }}</li></a>
          {% endfor %}
        </ul>
      </li>
      <li><a href="/about">Who I am</a>
        <ul class="dropdown-menu">
          {% for about_section in site.about_sections %}
            <li><a href="/about/#{{about_section.title}}">{{ about_section.title }}</li></a>
          {% endfor %}
        </ul>
      </li>
      <li><a href="">Current</a>
        <ul class="dropdown-menu">
          <li><a href="">Blog</li>
          <li><a href="">Schedule</li></a>
        </ul>
      </li>
    </ul>
  </nav>
</header>
