$light-blue: #75b5f7;
$dark-blue: #0556a3;

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: "Lato", normal;
}

.container {
	height: 100%;
	display: flex;
	flex-direction: column;
	color: white;
}

%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after { 
   clear: both;
  }
}

.main-content {
	flex: 2;
	@extend %clearfix;
	background: url('../images/birds-frontpage.png') no-repeat center center;
	background-size: cover;
	position: relative;

	ul.navbar {
		list-style-type: none;
		margin: 20px 0;
		padding: 0;
		float: right;

		li {
			display: inline;
			padding-right: 20px;
		}

		a {
			text-decoration: none;
			color: white;

			&:hover {
				text-decoration: none;
				font-size: 1.1em;
			}
		}
	}

	.logo {
		position: absolute;
		top: 30%;
		left: 20%;

		h1 {
			margin-top: 0;
			font-size: 3.5em;
		}
	}

	.find-out-more-link {
		a {
			border: 1px solid white;
			padding: 10px;
		}
	}
}

.contact {
	flex: 1;
	display: flex;

	.testimonials-container {
		flex: 1;
		position: relative;
		background-color: $light-blue;

		.testimonials {
			position: absolute;
			bottom: 20%;
			right: 10%;
		}
	}

	.contact-info-container {
		flex: 1;
		background-color: $dark-blue;
		position: relative;

		.contact-info {
			width: 100%;
			display: flex;
			position: absolute;
			bottom: 20%;
		}

		.title-container {
			flex: 2;
			padding-left: 30px;
		}

		.details-container {
			flex: 1;
		}
	}
}

@media screen and (min-width: 900) {
	// some rule that makes a white border on either side of the image
}