$light-blue: #75b5f7;
$dark-blue: #0556a3;
$white: #ffffff;

$mobile: new-breakpoint(max-width 768px);

* {
	margin: 0;
	padding: 0;
	border: 0;
}

html, body {
	height: 100%;
	font-family: $base-font-family;
}

a {
	text-decoration: none;
	color: $white;
}

h1 {
	color: $white;
	font-size: 3.5em;
}

.container {
	height: 100%;
	top: 50px;

	&.sub-page {
		@include clearfix;
		height: 100%;
		position: relative;
		overflow: hidden;
		top: 0;

		img {
			position: absolute;
	    left: 0;
	    top: 0;
	    width: 100%;
	    height: auto;
	    opacity: 0.2;
		}
	}
}

.content {
	margin: 2em 5em;
}
