$light-blue: #75b5f7;
$dark-blue: #0556a3;
$white: #ffffff;

$mobile: new-breakpoint(max-width 768px);

* {
	margin: 0;
	padding: 0;
	border: 0;
}

html, body {
	height: 100%;
	font-family: $base-font-family;
}

a {
	text-decoration: none;
	color: $white;
}

h1 {
	color: $white;
	font-size: 3.5em;
}

.container {
	height: 100%;
	top: 50px;

	&.sub-page {
		@include clearfix;
		height: 100%;
		position: relative;
		overflow: hidden;
		top: 0;

		img {
			position: absolute;
	    left: 0;
	    top: 0;
	    width: 100%;
	    height: auto;
	    opacity: 0.2;
		}
	}
}

.contact {
	background-color: $light-blue;

	.contact-info-container {
		@include clearfix;
		float: right;
		background-color: $dark-blue;
		padding: 2em 0 4em 2em;
		width: 50%;

		@media (max-width: $mobile) {
			float: none;
			width: initial;
		}

		.title-container {
			float: left;

			@media (max-width: $mobile) {
				float: none;
			}
		}

		.details-container {
			@include clearfix;
			float: left;
			font-size: 0.8em;
			margin: 1em 0 0 8em;

			@media (max-width: $mobile) {
				float: none;
				margin: 0;
			}

			.contact-detail-name {
				margin-bottom: 15px;
			}
		}
	}
}

.content {
	margin: 2em 5em;
}
