$light-blue: #75b5f7;
$dark-blue: #0556a3;
$white: #ffffff;

$mobile: new-breakpoint(max-width 768px);

* {
	margin: 0;
	padding: 0;
	border: 0;
}

html, body {
	background-color: $dark-blue;
	height: 100%;
	font-family: $base-font-family;
	line-height: $base-line-height;
}

a {
	text-decoration: none;
	color: $white;

  &:hover,
  &:active,
  &:focus {
    border: none;
    color: $light-blue;
    outline: none;
    text-decoration: none;
  }
}

ul {
	list-style-type: none;
}

h1 {
	font-size: 2em;
	margin: .67em 0;
}
