header {
  @include clearfix;
  background-color: $dark-blue;

  .logo {
    @include shift(1);
    float: left;
    font-size: 1.7em;
    margin-top: 12px;
  }
}

nav {
  float: right;
  padding: 20px;

  & > ul > li {
    display: inline;
    margin: 16px;
    position: relative;

    &:hover > .dropdown-menu {
      display: block;
    }
  }

  .dropdown-menu {
    background-color: $dark-blue;
    display: none;
    float: left;
    left: -20px;
    padding-left: 20px;
    position: absolute;
    top: 100%;
    width: 120px;

    li {
      margin: 20px 0;
    }
  }
}
