header {
  ul {
  	@include clearfix;

  	background-color: $dark-blue;
  	list-style-type: none;

  	li {
  		padding: 1em;

  		&:hover {
  			position: relative;

  			.submenu {
  				display: block;
  				z-index: 2;
  			}
  		}
  	}

    & > li {
      display: inline;
      float: right;
    }
  }


	.submenu {
		display: none;
		left: 0;
		position: absolute;
		top: 3em;
		width: 120px;

		> li:not(:last-child) {
			padding-bottom: 0;
		}
	}
}
