.home {
	@include clearfix;
	background: url('../images/birds-frontpage.png') no-repeat center center;
	background-size: cover;
	height: 100%;

	@include media($mobile) {
		height: 50%;
	}

	.logo {
    @include shift(2);
    color: $white;
    padding-top: 15%;

		@include media($mobile) {
			@include shift(0);
			margin-left: 25px;
		}
	}

  h1 {
		color: $white;
		font-size: 5em;
		margin: -20px 0 0;

		@include media($mobile) {
			font-size: 3em;
		}
  }

	a {
		border: 1px solid white;
		padding: 15px 30px;
		text-transform: uppercase;
	}
}
