.page {
  background-color: $white;
  position: relative;
  overflow: hidden;

  .content {
    @include clearfix;
    @include span-columns(6);
    @include shift(3);

    margin: 4em 0;

    @include media($mobile) {
      @include shift(0);
      @include span-columns(12);

      margin: 1em 0;
      padding: 0 25px;
    }

    .section {
      margin-bottom: 40px;
    }

    h1 {
      text-transform: uppercase;
      font-weight: 100;
    }

    p {
      margin: 25px 0;

      &:first-of-type {
        margin-top: 0;
      }
    }
  }

  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.2;
  }
}
